.account-card {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(30px) saturate(125%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 0;
    width: clamp(20rem, 90vw, 30rem);
    overflow: auto;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.circle-picker {
    justify-content: center;
    padding-top: 20px;
}

input[type="file"] {
    display: none;
}