.game-card {
  width: 18rem;
  height:18rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px) saturate(125%);
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 0;
}

.games-div {
  width: 100%;
  height: 100%;
  padding-top: clamp(0rem, 10vh, 20rem);
  padding-bottom: clamp(2rem, 10vh, 5rem);
  padding-left: clamp(0rem, 10vw, 10rem);
  padding-right: clamp(0rem, 10vw, 10rem);
  display: inline-flex;
  align-items: safe flex-start;
  box-sizing: border-box;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}