.game-card {
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px) saturate(125%);
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 0;
}

.game-card-button {
  background-color: red;
}

.game-card-button:hover {
  background-color: rgba(0,0,0, 0.3),

}

.game-card-button:active {
  background-color: rgba(0,0,0, 0.5),
}

.games-div {
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  padding-top: clamp(3rem, 5vh, 200rem);
  padding-bottom: clamp(2rem, 10vh, 5rem);
  padding-left: clamp(0rem, 10vw, 10rem);
  margin-bottom: 100px;
  padding-right: clamp(0rem, 10vw, 10rem);
  display: inline-flex;
  align-items: safe flex-start;
  box-sizing: border-box;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
