.game-card {
  width: 18rem;
  height:18rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px) saturate(125%);
  background-color: rgba(0, 0, 0, 0.3);
}

.games-div {
  width: 40%;
  height: 70%;
  display: inline-flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap
}