.title-bar {
  /* overflow: hidden; */
  background-color: rgba(255, 255, 255, 0.07);
  padding: 0 32px 0 32px !important;
  height: 56px;
  width: 100vw;
  top:0;
  position: absolute;
  box-sizing: border-box;
}

.logo {
  color: red;
  margin-right: 10px;
  vertical-align: -0.1875em;
}
