.slide-enter {
  transform: translate3d(0, -100%, 0);
}

.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 300ms cubic-bezier(0.1, 0.9, 0.2, 1);
}

.slide-exit {
  transform: translate3d(0, 0, 0);
}

.slide-exit-active {
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms cubic-bezier(0.9, 0.1, 1, 0.2);
}

#root {
  background-image: url("../public/images/dashboard-background.svg");
  background-size: cover;
  background-color: #121212;
  background-position: 0px;
}