/* .slide-enter {
  transform: translate3d(0, -100%, 0);
}

.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.slide-exit {
  transform: translate3d(0, 0, 0);
}

.slide-exit-active {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s cubic-bezier(0.9, 0.1, 1, 0.2);
} */

.slide-enter {
  margin-top: -100vh;
}

.slide-enter-active {
  margin-top: 0px;
  transition: margin-top 300ms cubic-bezier(0.1, 0.9, 0.2, 1);
}

.slide-exit {
  margin-top: 0px;
}

.slide-exit-active {
  margin-top: -100vh;
  transition: margin-top 300ms cubic-bezier(0.9, 0.1, 1, 0.2);
}

#root {
  background-size: cover;
  background-color: #121212;
  background-position: 0px;
}

.primary-div {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  z-index: 100;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
}

.card {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px) saturate(125%);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  width: clamp(20rem, 90vw, 30rem);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  bottom: auto;
  position: absolute;
}